body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.head-game {
    text-align: center;
}

.board {
    display: flex;
    flex-direction: column;
    width: 488px;
    height: 484px;
    margin-left: auto;
    margin-right: auto;
}

.btn-field {
    width: 160px;
    height: 160px;
    padding: 0;
    margin: 0;
}
.btn-field-zero {
    background-image: url("../img/0.png");
}
.btn-field-x {
    background-image: url("../img/x.png");
}

.panel-btn {
    text-align: center;
}